.img-space{
	/*position: absolute;*/
/*	top:50px;*/
/*overflow: hidden;*/
/*	position: relative;*/
	height:350px; 
	width:290px;
	display: inline-block;
	left: 100px;
	padding: 10px;
    overflow:hidden;
    float: right;

}

.img-size{
	width: 300px;
	height: 200px;
}