.img-space{
	/*position: absolute;*/
/*	top:50px;*/
/*overflow: hidden;*/
/*	position: relative;*/
	height:350px; 
	width:290px;
	display: inline-block;
	left: 100px;
	padding: 15px;
    overflow:hidden;
    float: right;

}

.img-size{
	width: 280px;
	height: 180px;
}
.form_align {
	left: 10px;
}